pyrofork
pytz
pyrogram
apscheduler
tgcrypto
datetime
wheel
Flask==2.2.2
gunicorn==20.1.0
humanize
pygments
ffmpeg-python
pymongo
psutil
Pillow>=9.0.0
pytubefix
click
dnspython
requests
environs
GitPython
beautifulsoup4
aiohttp
aiofiles
rentry
pySmartDL
lexica-api
